data
.env
.env.backup
temp
indexer.env
ui.env
.DS_Store

blockscout/services/blockscout-db-data
blockscout/services/logs
blockscout/services/redis-data
blockscout/services/stats-db-data

blockscout/services/data/blockscout-db-data
blockscout/services/data/blockscout-logs
blockscout/services/data/blockscout-redis-data
blockscout/services/data/blockscout-stats-db-data
