L1_RPC_URL_1 = {{ L1_RPC_URL }}
L1_RPC_URL_2 = {{ L1_RPC_URL }}
L1_RPC_URL_3 = {{ L1_RPC_URL }}
L1_CHAIN_NAME = ETH
L1_CHAIN_ID = {{ L1_CHAIN_ID }}

L1_PORTAL_ADDRESS = {{L1_PORTAL_ADDRESS}}
L1_PORTAL_BLOCK_CREATED = 0


L2_RPC_URL_1 = http://host.docker.internal:8545
L2_RPC_URL_2 = http://host.docker.internal:8545
L2_RPC_URL_3 = http://host.docker.internal:8545
L2_CHAIN_NAME = {{ CHAIN_NAME }}
L2_CHAIN_ID = {{ L2_CHAIN_ID }}

L2_STANDARD_BRIDGE_ADDRESS = 0x4200000000000000000000000000000000000010
L2_STANDARD_BRIDGE_BLOCK_CREATED = 0

PORT = 3000