# L1
VITE_NETWORK_L1_RPC_QUICKNODE_URL = https://1rpc.io/holesky
VITE_NETWORK_L1_CHAIN_NAME = ETH Holesky Testnet
VITE_NETWORK_L1_CHAIN_ID = 17000
# Block explorer
VITE_NETWORK_L1_BLOCK_EXPLORER_URL = https://holesky.etherscan.io
VITE_NETWORK_L1_BLOCK_EXPLORER_NAME = Etherscan
VITE_NETWORK_L1_BLOCK_EXPLORER_API = https://api-holesky.etherscan.io/api
# Native currency
VITE_NETWORK_L1_NATIVE_CURRENCY_SYMBOL = ETH
VITE_NETWORK_L1_NATIVE_CURRENCY_NAME = Ethereum
VITE_NETWORK_L1_NATIVE_CURRENCY_DECIMALS = 18

# ----------------------------------------------------------------------------------------------

# L2
VITE_NETWORK_L2_RPC_QUICKNODE_URL = http://127.0.0.1:8545
VITE_NETWORK_L2_CHAIN_NAME = OP Stack Compose L2
VITE_NETWORK_L2_CHAIN_ID = 42100
# Block explorer
VITE_NETWORK_L2_BLOCK_EXPLORER_URL = http://127.0.0.1
VITE_NETWORK_L2_BLOCK_EXPLORER_NAME = Blockscout
VITE_NETWORK_L2_BLOCK_EXPLORER_API = http://127.0.0.1
# Native currency
VITE_NETWORK_L2_NATIVE_CURRENCY_SYMBOL = ETH
VITE_NETWORK_L2_NATIVE_CURRENCY_NAME = Ethereum
VITE_NETWORK_L2_NATIVE_CURRENCY_DECIMALS = 18


# ----------------------------------------------------------------------------------------------
# CONTRACT

# L1 MAIN
VITE_CONTRACT_L1_ENS_REGISTRY_ADDRESS = 0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e
VITE_CONTRACT_L1_ENS_UNIVERSAL_RESOLVER_ADDRESS = 0xa6ac935d4971e3cd133b950ae053becd16fe7f3b
VITE_CONTRACT_L1_MULTI_CALL3_ADDRESS = 0xca11bde05977b3631167028862be2a173976ca11

# L2 MAIN
VITE_CONTRACT_L2_MULTI_CALL3_ADDRESS = 0xca11bde05977b3631167028862be2a173976ca11

VITE_CONTRACT_L2OUTPUT_ORACLE_PROXY_ADDRESS = 0x64a4CFF35E2E11C81Ce36370e8271da65842D777
VITE_CONTRACT_PORTAL_PROXY_ADDRESS = 0xF237B845F73876eb5F8CF6C6870c3d28740570B8
VITE_CONTRACT_L1STANDARD_BRIDGE_PROXY_ADDRESS = 0x16E067258fc08175F22A8FE74548639293Cf2e51

VITE_CONTRACT_L1CROSS_DOMAIN_MESSENGER = 0x7e7f7f1f2f1d1f3f1f1f1f1f1f1f1f1f1f1f1f1f
VITE_CONTRACT_L1ERC721_BRIDGE_MESSENGER = 0x7e7f7f1f2f1d1f3f1f1f1f1f1f1f1f1f1f1f1f1f

VITE_CONTRACT_L2L1_MESSAGE_PASSER_ADDRESS = 0x7e7f7f1f2f1d1f3f1f1f1f1f1f1f1f1f1f1f1f1f
VITE_CONTRACT_L2STANDARD_BRIDGE_PROXY_ADDRESS = 0x4200000000000000000000000000000000000010


# API ENDPOINT
VITE_API_ENDPOINT = http://127.0.0.1:4241